* { 
	padding: 0;
	margin: 0; 
	border: 0; 
} 

body { 
   overflow-x: hidden;
}

/************************************
    Font Family
*************************************/
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Condensed Light';
	src: url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
}

#navbar {
	background-color: rgb(20,41,84);
	height: 60px;
	width: auto;
	font-family: 'Raleway', sans-serif;
}

#navbar .navbar-nav li > a:hover {
	color: #fff !important;
}

#logo-img {
	width: 200px;
}

#opening {
	margin: 140px 0 0 0;
}

#about-us {
	background-color: #fff;
	margin: 120px 0 0 0;
}

#bg-clients {	
 	/*background: url('../img/our clients.jpg'); */
	/*-webkit-background-size: cover;*/
	/*-moz-background-size: cover;*/
	/*-o-background-size: cover;*/
	/*background-size: cover;*/
    /*background-attachment: fixed;*/
}

#our-clients-div {
	width: /*768px*/;
	width: 51.6vw;
	/*height: 650px;*/
	height: 43.4vw;
	background-color: white;
	margin: 128px 0 4.0625vw 4.0625vw;
	padding: 1vw 0 0 1.2vw;
}

#our-clients-yellow-border {
	/*width: 738px;*/
	width: 48vw;
	/*height: 618px;*/
	height: 40vw;
	border: 4px solid rgb(234,184,87);
	padding: 0.66vw 0 0 0.9vw;
}

#our-clients-blue-border {
	/*width: 738px;*/
	width: 48vw;
	/*height: 618px;*/
	height: 40vw;
	border: 4px solid rgb(16,42,77);
}

#our-text-in-our-clients {
	font-family: Raleway;
	color: rgb(234,184,87);
	font-size:6.2vw;
	text-shadow: 2px 2px rgb(140,140,140);
	text-align: center;
	margin: -1.7vw 0 0 0;
}

#clients-text-in-our-clients {
	font-family: Raleway;
	color: rgb(16,42,77);
	font-size: 9.5vw;
	text-align: center;
	margin: -7.4vw 0 -1.4vw -1.3vw;
}

.our-clients-content {
	text-align: center;
	color: rgb(16,42,77);
	font-size: 1.8vw;
	font-family: Roboto Condensed Light;
	font-weight: bold;
}

#bg-practices {	
 	background: url('../img/OP bg.jpg'); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    background-attachment: fixed;
}

#practices {
 	margin-top: 40px;
 }

#government, #labor {
	margin-top: 100px;
}

#contact-us {
	margin-top: 140px;
}

#litigation {
	position: relative;
	background-image: url('../img/white up.png');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	/*height: 825px;*/
	height: 51.5vw;
	/*padding: 170px 0 0 0;*/
	padding: 12vw 0 0 0;
	/*border: 2px solid black;*/
}

#litigation-img {
	position: absolute;
	z-index: 1;
}

#litigation-box {
	position: relative;
	transform: translate(0, 15%);
	/*margin-top: -60px;*/
}

#practices-text {
	position: absolute;
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 1.7vw;
	color: #002e5d;
	text-align: center;
	transform: translate(8%,-144%);
}

#corporate {
	position: relative;
	background-image: url('../img/white down.png');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	/*height: 825px;*/
	height: 53.8vw;
	padding: 23.8vw 0 0 0;
}

#corporate-img {
	position: absolute;
	z-index: 1;
	transform: translate(-7%,-3%)
}

#corporate-box {
	position: relative;
	transform: translate(0, 13%);
}

#corporate-text {
	position: absolute;
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 1.7vw;
	color: #002e5d;
	text-align: center;
	transform: translate(8%,-125%);
}

#government {
	position: relative;
	background-image: url('../img/white up.png');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	/*height: 825px;*/
	height: 51.5vw;
	padding: 5.4vw 0 0 0;
}

#government-img {
	position: absolute;
}

#government-box {
	position: relative;
	transform: translate(0, 11%);
}

#government-text {
	position: absolute;
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 1.7vw;
	color: #002e5d;
	text-align: center;
	transform: translate(10%,-105%);
}

#infrastructure {
	position: relative;
	background-image: url('../img/white down.png');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	/*height: 825px;*/
	height: 53.8vw;
	padding: 22.8vw 0 0 0;
}

#infrastructure-img {
	position: absolute;
	z-index: 1;
	transform: translate(-4%,0);
}

#infrastructure-box {
	position: relative;
	transform: translate(0, 17%);
}

#infrastructure-text {
	position: absolute;
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 1.7vw;
	color: #002e5d;
	text-align: center;
	transform: translate(7%,-115%);
}

#labor {
	position: relative;
	background-image: url('../img/white up.png');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	/*height: 825px;*/
	height: 51.5vw;
	padding: 8.7vw 0 0 0;
}

#labor-img {
	position: absolute;
	z-index: 1;
	transform: translate(-7%,0);
}

#labor-box {
	position: relative;
	transform: translate(0, 17%);
}

#labor-text {
	position: absolute;
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 1.7vw;
	color: #002e5d;
	text-align: center;
	transform: translate(7%,-140%);
}

#bg-profile {	
 	/*background: url('../img/profile bg.jpg'); */
	/*-webkit-background-size: cover;*/
	/*-moz-background-size: cover;*/
	/*-o-background-size: cover;*/
	/*background-size: cover;*/
    /*background-attachment: fixed;*/
}

#solis-box, #medina-box, 
#limpingco-box, #fajardo-box, #malilong-box,
#associates-box {
	position: absolute;
	z-index: -1;
}

#profile {
	position: relative;
	transform: translate(0,21%);
	margin-bottom: 24%;
}

#firm-profile-box {
	position: absolute;
}

#firm-profile-img {
	position: absolute;
	transform: translate(0,30%);
}

#firm-profile-text {
	position: relative;
	font-family: 'Roboto Condensed Light', sans-serif;
	/*font-size: 21px;*/
	font-size: 1.3vw;
	color: #002e5d;
	text-align: center;
	line-height: 1.2;
	transform: translate(1%,40%);
}

#solis {
	position: relative;
	height: 39.9vw;
}

#solis-img {
	position: absolute;
	transform: translate(0, 40%);
}

#solis-text {
	position: absolute;
	font-family: 'Roboto Condensed Light', sans-serif;
	/*font-size: 23px;*/
	font-size: 1.5vw;
	color: #002e5d;
	text-align: center;
	line-height: 1.2;
	transform: translate(4%, 35%);
}

#medina {
	position: relative;
	height: 30.8vw;
}

#medina-img {
	position: absolute;
	transform: translate(0, 45%);
}

#medina-text {
	font-family: 'Roboto Condensed Light', sans-serif;
	/*font-size: 23px;*/
	font-size: 1.5vw;
	color: #002e5d;
	text-align: center;
	line-height: 1.2;
	transform: translate(0.7%,53%);
}

#limpingco {
	position: relative;
	height: 26.4vw;
}

#limpingco-img {
	position: absolute;
	transform: translate(0, 25%);
}

#limpingco-text {
	font-family: 'Roboto Condensed Light', sans-serif;
	/*font-size: 23px;*/
	font-size: 1.5vw;
	color: #002e5d;
	text-align: center;
	line-height: 1.2;
	transform: translate(0.7%,70%);
}

#fajardo {
	position: relative;
	height: 32.6vw;
}

#fajardo-img {
	position: absolute;
	transform: translate(0, 25%);
}

#fajardo-text {
	font-family: 'Roboto Condensed Light', sans-serif;
	/*font-size: 23px;*/
	font-size: 1.5vw;
	color: #002e5d;
	text-align: center;
	line-height: 1.2;
	transform: translate(0.5%,57%);
}

#malilong {
	position: relative;
	height: 26.4vw;
}

#malilong-img {
	position: absolute;
	transform: translate(0, 45%);
}

#malilong-text {
	font-family: 'Roboto Condensed Light', sans-serif;
	/*font-size: 23px;*/
	font-size: 1.5vw;
	color: #002e5d;
	text-align: center;
	line-height: 1.2;
	transform: translate(0, 65%);
}

#associates {
	position: relative;
	height: 35.6vw;
	margin-top: 5%;
}

#associates-img {
	position: absolute;
	width: 37%;
	transform: translate(2%,9%);
}

#gaanan-1 {
	position: absolute;
	font-family: 'Roboto Condensed Light', sans-serif;
	/*font-size: 24px;*/
	font-size: 1.5vw;
	color: #002e5d;
	text-align: right;
	transform: translate(30vw,5.4vw);
}

#gaanan-2 {
	position: absolute;
	font-family: 'Roboto Condensed Light', sans-serif;
	/*font-size: 24px;*/
	font-size: 1.5vw;
	color: #002e5d;
	text-align: left;
	transform: translate(3.7vw,5vw);
}

#carlos-1 {
	position: absolute;
	font-family: 'Roboto Condensed Light', sans-serif;
	/*font-size: 24px;*/
	font-size: 1.5vw;
	color: #002e5d;
	text-align: right;
	transform: translate(26vw,12.2vw);
}

#carlos-2 {
	position: absolute;
	font-family: 'Roboto Condensed Light', sans-serif;
	/*font-size: 24px;*/
	font-size: 1.5vw;
	color: #002e5d;
	text-align: left;
	transform: translate(3.7vw,14vw);
}

#urbina-1 {
	position: absolute;
	font-family: 'Roboto Condensed Light', sans-serif;
	/*font-size: 24px;*/
	font-size: 1.5vw;
	color: #002e5d;
	text-align: right;
	transform: translate(23vw,18.1vw);
}

#urbina-2 {
	position: absolute;
	font-family: 'Roboto Condensed Light', sans-serif;
	/*font-size: 24px;*/
	font-size: 1.5vw;
	color: #002e5d;
	text-align: left;
	transform: translate(3.7vw, 20vw);
}

#villa-1 {
	position: absolute;
	font-family: 'Roboto Condensed Light', sans-serif;
	/*font-size: 24px;*/
	font-size: 1.5vw;
	color: #002e5d;
	text-align: right;
	transform: translate(25vw, 25vw);
}

#villa-2 {
	position: absolute;
	font-family: 'Roboto Condensed Light', sans-serif;
	/*font-size: 24px;*/
	font-size: 1.5vw;
	color: #002e5d;
	text-align: left;
	transform: translate(3.7vw, 27vw);
}


