* { 
	padding: 0;
	margin: 0; 
	border: 0; 
} 

body { 
   overflow-x: hidden;
}

@media (min-width: 576px) { 

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}

/************************************
    Font Family
*************************************/
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Condensed Light';
	src: url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
}

#navbar {
	background-color: rgb(20,41,84);
	height: 60px;
	width: auto;
	font-family: 'Raleway', sans-serif;
}

#navbar .navbar-nav li > a:hover {
	color: #fff !important;
}

/*.nav-link {
	color: #e4b658 !important;
}*/

#opening {
	margin: 140px 0 0 0;
}

#about-us {
	background-color: #fff;
	margin: 120px 0 0 0;
}

#bg-practices {	
 	background: url('../img/OP bg.jpg'); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    background-attachment: fixed;
}

#practices {
 	margin-top: 40px;
 }

#government, #labor {
	margin-top: 100px;
}

#contact-us {
	margin-top: 140px;
}

#litigation {
	background-image: url('../img/white up.png');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	height: 825px;
	/*width: 1580px;*/
	padding: 170px 0 0 0;
	/*opacity: 0.7;
    filter: alpha(opacity=70);*/ /* For IE8 and earlier */
}

#litigation-box {
	margin-top: -60px;
}

#practices-text {
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 27px;
	color: #002e5d;
	text-align: center;
	margin: -290px 0 0 10px;
}

#corporate {
	background-image: url('../img/white down.png');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	height: 825px;
	padding: 360px 0 0 0;
}

#corporate-box {
	margin-top: -82px;
}

#corporate-text {
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 27px;
	color: #002e5d;
	text-align: center;
	margin: -310px 0 0 10px;
}

#government {
	background-image: url('../img/white up.png');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	height: 825px;
	padding: 85px 0 0 0;
}

#government-box {
	margin-top: -143px;
}

#government-text {
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 27px;
	color: #002e5d;
	text-align: center;
	margin: -350px 0 0 0;
}

#infrastructure {
	background-image: url('../img/white down.png');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	height: 825px;
	padding: 348px 0 0 0;
}

#infrastructure-box {
	/*margin-top: -113px;*/
	margin-top: -137px;
}

#infrastructure-text {
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 27px;
	color: #002e5d;
	text-align: center;
	margin: -300px 0 0 10px;
}

#labor {
	background-image: url('../img/white up.png');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	height: 825px;
	padding: 135px 0 0 0;
}

#labor-box {
	margin-top: -165px;
}

#labor-text {
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 27px;
	color: #002e5d;
	text-align: center;
	margin: -245px 0 0 10px;
}

#bg-profile {	
 	/*background: url('../img/profile bg.jpg'); */
	/*-webkit-background-size: cover;*/
	/*-moz-background-size: cover;*/
	/*-o-background-size: cover;*/
	/*background-size: cover;*/
    /*background-attachment: fixed;*/
}

#profile {
	margin-top: 100px;
}

.profile-imgs {
	position: absolute;
	/*top: 25px;*/
	/*left: 25px;*/
}

#firm-profile-box, #solis-box, #medina-box, 
#limpingco-box, #fajardo-box, #malilong-box,
#associates-box {
	z-index: -1;
}

#firm-profile-img {
	z-index: 3;
	height: 150px;
	width: 348px;
	margin: 39px 0 0 280px;
}

#firm-profile-text {
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 21px;
	color: #002e5d;
	text-align: center;
	line-height: 1.2;
	margin: 175px 0 0 25px;
}

#solis {
	margin-top: 100px;
	border: 1px solid white; /*Needed for the text not to move*/
	/*height: 620px;*/
}

#solis-img {
	width: 700px;
	height: 105px;
	margin: 40px 0 0 390px;
}

#solis-text {
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 23px;
	color: #002e5d;
	text-align: center;
	line-height: 1.2;
	margin: 140px 0 0 25px;
}

#medina {
	margin-top: 90px;
	border: 1px solid white; /*Needed for the text not to move*/
}

#medina-img {
	width: 870px;
	height: 90px;
	margin: 40px 0 0 330px;
}

#medina-text {
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 23px;
	color: #002e5d;
	text-align: center;
	line-height: 1.2;
	margin: 135px 0 0 25px;
}

#limpingco {
	margin-top: 80px;
	border: 1px solid white; /*Needed for the text not to move*/
}

#limpingco-img {
	width: 654px;
	height: 125px;
	margin: 30px 0 0 450px;
}

#limpingco-text {
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 23px;
	color: #002e5d;
	text-align: center;
	line-height: 1.2;
	margin: 135px 0 0 25px;
}

#fajardo {
	margin-top: 79px;
	border: 1px solid white; /*Needed for the text not to move*/
}

#fajardo-img {
	width: 949px;
	height: 105px;
	margin: 30px 0 0 300px;
}

#fajardo-text {
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 23px;
	color: #002e5d;
	text-align: center;
	line-height: 1.2;
	margin: 145px 0 0 25px;
}

#malilong {
	margin-top: 80px;
	border: 1px solid white; /*Needed for the text not to move*/
}

#malilong-img {
	width: 735px;
	height: 97px;
	margin: 40px 0 0 400px;	
}

#malilong-text {
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 23px;
	color: #002e5d;
	text-align: center;
	line-height: 1.2;
	margin: 130px 0 0 25px;
}

#associates {
	margin-top: 180px;
	border: 1px solid white; /*Needed for the text not to move*/
}

#associates-img {
	width: 587px;
	height: 471px;
	margin: 40px 0 0 10px;
}

#gaanan-1 {
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 24px;
	color: #002e5d;
	text-align: right;
	margin: 85px 32px 0 0;
}

#gaanan-2 {
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 24px;
	color: #002e5d;
	text-align: left;
	margin: -45px 0 0 58px;
}

#carlos-1 {
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 24px;
	color: #002e5d;
	text-align: right;
	margin: 46px 76px 0 0;
}

#carlos-2 {
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 24px;
	color: #002e5d;
	text-align: left;
	margin: -7px 0 0 58px;
}

#urbina-1 {
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 24px;
	color: #002e5d;
	text-align: right;
	margin: 31px 31px 0 0;
}

#urbina-2 {
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 24px;
	color: #002e5d;
	text-align: left;
	margin: -7px 0 0 58px;
}

#villa-1 {
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 24px;
	color: #002e5d;
	text-align: right;
	margin: 45px 45px 0 0;
}

#villa-2 {
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 24px;
	color: #002e5d;
	text-align: left;
	margin: -7px 0 0 58px;
}